[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/linachhiv
[access "refs/for/refs/*"]
	read = group user/linachhiv
	push = group user/linachhiv
	label-Code-Review = -2..+2 group user/linachhiv
	label-Verified = -1..+1 group user/linachhiv
	rebase = group user/linachhiv
	removeReviewer = group user/linachhiv
	submit = group user/linachhiv
[access "refs/heads/*"]
	read = group user/linachhiv
	create = group user/linachhiv
	push = +force group user/linachhiv
	pushMerge = group user/linachhiv
[access "refs/tags/*"]
	push = +force group user/linachhiv
	pushTag = group user/linachhiv
	pushSignedTag = group user/linachhiv
